%p#notice= notice

%p
  %b Post:
  = @comment.post
%p
  %b From:
  = @comment.from
%p
  %b Message:
  = @comment.message

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
