= simple_form_for @user, :html => {:class => 'form-horizontal'} do |f|
  = f.input :username, disabled: !@user.new_record?
  = f.input :name
  = f.input :password
  = f.input :password_confirmation
  - if current_user.is? :admin
    = f.association :role, as: :radio
  .form-actions
    = f.submit :class => 'btn-primary'
