%p.pull-right
  = link_to new_role_path, class: 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Role

%h2 Listing roles

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th{width: 120}

  - @roles.each do |role|
    %tr
      %td
        %code= ":#{role.name}"
      %td
        = link_to edit_role_path(role), class: 'btn btn-mini btn-primary' do
          %i.icon-pencil.icon-white
          Edit
        = link_to role, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini btn-danger' do
          %i.icon-trash.icon-white
          Destroy
