- if can? :manage, Post
  = link_to new_post_path, :class => 'btn btn-primary btn-large' do
    %i.icon-plus.icon-white
    Create new Post
  %br
  %br

- @posts.each do |post|
  .post
    %h3
      - if can? :manage, post and not post.is_approved
        %i.icon-eye-close
      = link_to post.title, post
    :markdown
      #{post.body}
    %p.pull-right
      - if can? :manage, post
        = link_to edit_post_path(post), class: 'btn btn-mini btn-primary' do
          %i.icon-pencil.icon-white
          Edit
        = link_to post, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini btn-danger' do
          %i.icon-trash.icon-white
          Destroy
    %small
      = link_to post, :class => 'btn btn-mini' do
        %i.icon-comment
        = pluralize(post.comments.count, 'comment')
      Posted by
      %span.label= post.user_name
      at
      = post.created_at.strftime('%m/%d/%Y %H:%M')

- if @posts.empty?
  %h6
    No posts were found!