%p.pull-right
  = link_to posts_path, :class => 'btn' do
    %i.icon-arrow-left
    Back
.post
  %h1
    - if can? :manage, @post and not @post.is_approved
      %i.icon-eye-close
    = @post.title
  :markdown
    #{@post.body}
  %p.pull-right
    - if can? :manage, @post
      = link_to edit_post_path(@post), class: 'btn btn-mini btn-primary' do
        %i.icon-pencil.icon-white
        Edit
      = link_to @post, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini btn-danger' do
        %i.icon-trash.icon-white
        Destroy
  %small
    Posted by
    %span.label= @post.user_name
    at
    = @post.created_at.strftime('%m/%d/%Y %H:%M')

.row.comments
  .span6
    %h4
      %i.icon-comment
      = pluralize(@post.comments.count, 'Comment')
    - @comments.each do |comment|
      .comment
        %b= comment.from
        %small= "(#{distance_of_time_in_words_to_now comment.created_at} ago)"
        :markdown
          #{comment.message}
        - if can? :destroy, comment
          = link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete
  .span6
    %h4
      Send a comment
    = simple_form_for [@post, @comment] do |f|
      = f.input :from,    :input_html => {:class => 'span6', :rows => 5}
      = f.input :message, :input_html => {:class => 'span6', :rows => 5}
      .form-actions
        = f.submit :class => 'btn-primary'
      